/build
/dist
/node_modules
/certs
/build-config.env
/electron-builder.env
/native-modules/*
!/native-modules/window-audio-capture
!/native-modules/electron-asio
/native-modules/electron-asio/build
/native-modules/electron-asio/node_modules
mac.sh
/vdoninja
/.claude
/electron-asio-src
/.agents
/.secret
/.env
/.env.*
/*.cer
/*.crt
/*.key
/*.log
/*.mobileprovision
/*.p12
/*.pem
!/code-signing-cert.pem
/*.pfx
/npm-debug.log*
